* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    color: #4B0082;          
    background-color: #FFFFFF;  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
    font-family: "Times New Roman", serif;
    line-height: 2;
}

main {
    max-width: 800px;
    width: 90%;
    padding: 16px;
    border: 10px solid #000000;  
    background-color: #50c878;
}

h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 16px;
    border-bottom: 6px solid #000000;
    padding-bottom: 16px;
}

p {
    margin-bottom: 16px;
}

.screenshot-container {
    margin: 32px 0;
    padding: 16px;
    border: 6px solid #FF0000;
    text-align: center;
}

.screenshot-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #000000;
}
